body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background:black url(/imgs/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.conteiner {
    width: 100%;
    height: 100%;

}
.header {
    padding-top: 50px;
    display: flex;
    width: 100%;
    height: 20%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.header h1 {
    padding: 20px;
    font-size: 30px;
    
}
.foto1 img {
    border-radius: 180px;
    width: 200px;
    height: 200px;
}
.content-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.content {
    width: 80%;
    align-items: center;
    border: 3px solid white;
    padding: 10px;
    font-size: 30px;
   
}
.rightmenu {
    gap: 20px;
    text-align: center;
}
.rightmenu li {
    margin-inline: 50px;
    padding: 5px;
    display: inline-block;
    border: 3px solid blue;
    font-size: 20px;
}
.rightmenu a:hover{
    color: white;
}
.rightmenu a {
    text-decoration: none;
    color: blue;

}
.header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 30px;
}
.textohobbies {
    padding: 20px;
    text-align: justify;
    border: 3px solid white;
}
.content2 img { 
    display: inline;
    padding: 5px;
    height: 200px;
    width: 250px;
}
.content3 {
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 95px;
}
.content3 a {
    text-decoration: none;
}
.content3 img{
    height: 150px;
    width: 150px;
}






